<!DOCTYPE html>
<div id="profile" class="tab-content" ng-controller="ProfileController">
    
    <div id="user">
        <div id="user-card">
            <div class="user-card-head">
                <img id="user-avatar" ng-src="{{user.Avatar}}" />

                <h1 id="user-name">{{user.UserName}}</h1>
            </div>
            
            <div class="stars">
                <img class="star" ng-src="images/star/star{{user.Stars / 2 | number: 0}}.png" ng-repeat="star in stars" />
            </div>
            <div id="points-earned">{{user.TotalScore | number}}</div>
            <div id="date-joined">{{user.CreatedOn | date: 'MMM d, yyyy'}}</div>
            <div id="energy">{{user.EnergyGained | number}}</div>
            <a class="stat-link" ng-click="showStats()">User stats >></a>
        </div>

        <ul id="recent" class="user-body">
            <img title="{{game.GameType_Name | capitalize}}
Stars: {{game.Stars}}
Grade: {{game.Grade | number: 2}}%
Points: {{game.TotalScore | number}}
Questions: {{game.TotalQuestions | number}}
Time: {{game.TotalTime / 60 | number: 2}}" 
                 ng-src="{{game.img}}" ng-repeat="game in games | limitTo: 10" />
        </ul>
    </div>
    
    <div id="partition" ng-click="nextChart()">
        <ul class="explanation">
            <h3 class="chart-head">{{chartData[dataIndex].Title}}</h3>
        </ul>
    </div>
        
    
    <div id="game-type-summary">
        <div class="game-type game-type-{{gameType.GameType_Name}}" ng-repeat="gameType in gameTypes">
            
            <div class="game-type-head">
                <img class="crown" ng-src="images/crowns/crown{{gameType.Crown}}.png" />

                <div class="game-type-stats">
                    <div class="game-score">{{gameType.TotalScore | number}}</div>
                    <div class="total-questions">{{gameType.TotalQuestions | number}}</div>
                    <div class="total-time">{{gameType.TotalTime / 60 | number: 2}}</div>
                </div>
            </div>
            
            <div class="game-type-body">
                <h3 class="game-type-title">
                    {{gameType.GameType_Name | capitalize}}
                    <span class="game-grade">{{gameType.Grade | number: 2}}</span>
                </h3>

                <div class="question-stats">
                    <div class="incorrect">{{gameType.Incorrect | number}}</div>
                    <div class="correct">{{gameType.Correct | number}}</div>
                    <div class="timeout">{{gameType.Timeout | number}}</div>
                </div>  
            </div>
                
        </div>
    </div>
    
</div>

