//    Created on : Jun 8, 2015, 11:41:30 AM
//    Author     : David G Chung

/***Game History***/
.game-stats
{
    width: 25em;    
}

/***Settings mobile***/
.settings-section
{
    width: 63%;
    margin: 0 auto;
}