//    Created on : Apr 8, 2015, 12:32:27 PM
//    Author     : David Chung

//==== General Color Palette===================
$white: #fbfbfb;

$black: #222;
$lightBlack: lighten($black, 30%);

$lightGrey: #dbdbdb;
$darkGrey: #b2b2b2;

$blue: #000082;//#393b79;//#1f77b4;
$offBlue: #24279D;

$red: #d62728;//#d30000;
$green: #2ca02c;//#54b500;
