//    Created on : Apr 8, 2015, 12:37:08 PM
//    Author     : David Chung

%box-border
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin user-select($value)
{
    -webkit-user-select: #{$value};  
    -moz-user-select: #{$value};    
    -ms-user-select: #{$value};      
    user-select: #{$value};
}

@mixin transition($value)
{
    -webkit-transition: #{$value};
    -moz-transition: #{$value};
    -o-transition: #{$value};
    transition: #{$value};    
}

@mixin transform($value)
{
    -webkit-transform: #{$value};
    -moz-transform: #{$value};
    -ms-transform: #{$value};
    -o-transform: #{$value};
    transform: #{$value};    
}

@mixin translate($x, $y: 0px)
{
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y); 
    transform: translate($x, $y);    
}

@mixin simple-gradient($start, $end) 
{
    background-image: -webkit-linear-gradient($start, $end);
    background-image: -moz-linear-gradient($start, $end);
    background-image: -o-linear-gradient($start, $end); 
    background-image: linear-gradient($start, $end);
}

@mixin linear-gradient($expression) 
{
    background-image: -webkit-linear-gradient(#{$expression});
    background-image: -moz-linear-gradient(#{$expression});
    background-image: -o-linear-gradient(#{$expression}); 
    background-image: linear-gradient(#{$expression});
}

@mixin calc($property, $expression) 
{
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin animation($value) 
{
    -webkit-animation: #{$value};
    -moz-animation: #{$value};
    -o-animation: #{$value};
    animation: #{$value}; 
}