//    Created on : Apr 9, 2015, 9:03:40 AM
//    Author     : David Chung


/***Pause -Menu-***/
#pause-menu.tab-content
{
    @extend %tab-content;
    
    h1
    {
        border-bottom: 1px solid #000;
    }
    
    h3
    {
        padding: 0;
        margin: 0.2em 0;

        cursor: pointer;

        font-weight: normal;
        font-size: 1.5em;   
    }
}


